
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Create Post</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

	<h1>Create Post</h1>
	
	<div class="container">
		<div class="container authenticated">
		 <form id = "postform" th:action = "@{/admin/createpost}" th:object="${postdetails}"  method = "post">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="image_link">Image Link</label>
      <input type="text" class="form-control" id="image_link" th:field="*{image_link}" placeholder="Image Link">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="url">URL</label>
      <input type="text" class="form-control" id="url" th:field="*{id}" placeholder="URL">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Title">
    </div>
  </div>
  <div class="form-group">
    <label for="messege">Messege</label>
    <input type="text" class="form-control" id="messege" th:field="*{msgBody}" placeholder="Type messege">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="link">Link</label>
      <input type="text" class="form-control" id="link" th:field="*{link}" placeholder="Link">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
		</div>
		<div id="snackbar"></div>
		<div class="container text-danger error"></div>
	</div>

<script>
function showSnackbar(text) {
	var snackBar = document.getElementById("snackbar");
	
	snackbar.innerHTML = text;
	snackBar.className = "show-bar";
	setTimeout(
			function() {
				snackBar.className = snackBar.className.replace(
						"show-bar", "");

			}, 5000);
}

var frm = $('#postform');

frm.submit(function(e) {

	e.preventDefault();
	console.log(frm.serialize());
	$.ajax({
		type : frm.attr('method'),
		url : frm.attr('action'),
		data : frm.serialize(),
		success : function(data) {
			showSnackbar(data);
		},
		error : function(data) {
			showsnackbar(data)
		},
	});
});
</script>
</body>
</html>