
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>Create Article</title>
<meta name="description" content="" />
<meta name="viewport" content="width=device-width" />
<base href="/" />
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/js-cookie/js.cookie.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

	<h1>Edit Article</h1>
	
	<div class="container">
		<div class="container authenticated">
		 <form id = "articleform" th:action = "@{/admin/createarticle}" th:object="${articledetails}"  method = "post">
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="tile">Title</label>
      <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Title">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="url">url</label>
      <input type="text" class="form-control" id="url" th:field="*{url}" placeholder="Url">
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="desc">Description</label>
      <input type="text" class="form-control" id="desc" th:field="*{desc}" placeholder="Description">
    </div>
  </div>
  
  <div class="form-group">
    <label for="html_body">Html</label>
    <input type="text" class="form-control" id="html_body" th:field="*{htmlBody}" placeholder="Paste Html code">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="topic">Topic</label>
      <input type="text" class="form-control" id="topic" th:field="*{topic}" placeholder="topic">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Post</button>
</form>
		</div>
		<div id="snackbar"></div>
		<div class="container text-danger error"></div>
	</div>

<script>
function showSnackbar(text) {
	var snackBar = document.getElementById("snackbar");
	snackbar.innerHTML = text;
	snackBar.className = "show-bar";
	setTimeout(
			function() {
				snackBar.className = snackBar.className.replace(
						"show-bar", "");

			}, 5000);
}

var frm = $('#articleform');

frm.submit(function(e) {

	e.preventDefault();
	console.log(frm.serialize());
	$.ajax({
		type : frm.attr('method'),
		url : frm.attr('action'),
		data : frm.serialize(),
		success : function(data) {
			showSnackbar(data);
		},
		error : function(data) {
			showsnackbar(data)
		},
	});
});
</script>
</body>
</html>