<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<nav th:replace="fragments/nav-admin :: navigation"></nav>
	<div class="row d-flex justify-content-center">
		<div class="col-md-7">
		<div>
		<form id = "postform" action = "/admin/t/publish" method = "post">
			<input type="hidden" name="topicId" th:value="${topicArticle.topic.id}">
			
			<button type="submit" id = "submit-button" class="btn btn-primary">Publish</button>
		</form>
		<input type="hidden" id="publish" name="publish" th:value="${topicArticle.topic.publish}"> 
		</div>
			<div th:object="${topicArticle.topic}">
				<br>
				<br>
				<h1 th:text="*{title}"></h1>
				<br>
				<h3 th:text="*{des}"></h3>
				<br>
			</div>


			<div class="row">
				<div th:each="articledetails : ${topicArticle.articles}">
					<div th:object="${articledetails}" class="col-sm-6">
						<div class='card' style='width: 18rem;'>
							<div class='card-body'>
								<h5 th:text="*{title}" class='card-title'></h5>
								<p th:text="*{des}" class='card-text'></p>
								<a th:href="@{'/admin/t/'+${topicArticle.topic.url}+'/'+*{url}}" class='card-link'>View Article</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="snackbar"></div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
	<script>
	
	$(function(){
		if($("#publish").val() == "false"){
			$("#submit-button").text("PUBLISH");
			$("#publishform").attr("action","/admin/t/publish");
		}else{
			$("#submit-button").text("PUBLISHED");
			$("#publishform").attr("action","/admin/t/unpublish");
		}
	});
	

	var frm = $('#postform');
	frm.submit(function(e) {

			e.preventDefault();
			$.ajax({
				type : frm.attr('method'),
				url : frm.attr('action'),
				data : frm.serialize(),
				success : function(data) {
					if(data.error!=null){
						showSnackbar(data.error);
					}else{
						showSnackbar(data.data);
						changePublishButton();
					}
				},
				error : function(data) {
					showsnackbar(data.error)
				},
			});
		});

	
	function changePublishButton(){
		if($("#publish").val() == "false"){
			$("#publish").val("true"); 
			$("#submit-button").text("PUBLISHED");
			$("#publishform").attr("action","/admin/t/unpublish");
		}else{
			$("#publish").val("false"); 
			$("#submit-button").text("PUBLISH");
			$("#publishform").attr("action","/admin/t/publish");
		}
	}
	</script>
</body>
</html>