
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/header-with-ads :: header"></head>
<body>
	<nav th:replace="fragments/navigation :: navigation"></nav>
	<br>
	<div class="row d-flex justify-content-center">

	<div th:object="${postdetails}" class="col-md-7">
		<div class="card">
			<img class="card-img-top" th:src="*{image_link}" alt="Card image cap">
			<div class="card-body">
				<center><h3 th:text="*{title}" class="card-title"></h3></center>
				<p th:text="*{msgBody}" class="card-text"></p>
				<a th:href="*{link}" th:text="*{link_title}"
					class="streched-link font-weight-bold"></a>
			</div>
		</div>
		<br>
		<h5>Comments</h5>
		<div class="authenticated"  style="display: none">
			<div class="container">
				<div class="container authenticated">
					<form id="commentform" class="needs-validation"
						th:action="@{/comment/createcomment}"
						th:object="${commentdetails}" method="post" novalidate>

						<div class="form-group">
							 <input type="hidden"
								name="postId" th:value="${postdetails.id}"> <input
								type="text" class="form-control" id="messege"
								th:field="*{msgBody}" placeholder="Add a comment." required>
							<div class="invalid-feedback">Enter a valid Comment</div>
						</div>
						<button type="submit" class="btn btn-primary">Comment</button>
					</form>
				</div>
			</div>
		</div>
		<div class="unauthenticated">
		<a href="/oauth2/authorization/google" class="btn btn-dark fw-bold">
					<i class="bi bi-google px-2"></i> Login to Comment
				</a>
				
		</div>
		<br>
		<div>
			<div id="comments">
				<div th:each='commentdetails : ${postdetails.getComments()}'>
					<div th:object='${commentdetails}' class='col-sm-6'>
						<div class='card' style='width: 18rem;'>
							<div class='card-body'>

								<h6 th:text="*{username}" class="card-title"></h6>
								<p th:text='*{msgBody}' class='card-text'></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		
	</div>
	<div id="snackbar"></div>
	<div th:replace="fragments/footer :: footer"></div>


	<script>
	$.get("/user", function (data) {
		$("#user").html(data.name);
		$(".unauthenticated").hide();
		$(".authenticated").show();
});
		function showSnackbar(text) {
			var snackBar = document.getElementById("snackbar");
			snackbar.innerHTML = text;
			snackBar.className = "show-bar";
			setTimeout(
					function() {
						snackBar.className = snackBar.className.replace(
								"show-bar", "");

					}, 5000);
		}

		var frm = $('#commentform');

		frm.submit(function(e) {

			e.preventDefault();
			console.log(frm.serialize());
			$.ajax({
				type : frm.attr('method'),
				url : frm.attr('action'),
				data : frm.serialize(),
				success : function(data) {
					showSnackbar(data);
				},
				error : function(data) {
					showsnackbar(data)
				},
			});
		});
	</script>
</body>
</html>