<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace = "fragments/header :: header"></head>
<body>
<nav th:replace = "fragments/navigation :: navigation"></nav>
<div class="row d-flex justify-content-center">
	<div class="col-md-7" id = "article">

  	</div>
  </div>
	<div th:replace="fragments/footer :: footer"></div>
	<script>
	
	
	$.get("/api"+window.location.pathname, function (data) {
		
		if(data.data == null){
			document.title = data.error;
			$("#article").html("<br><br><br><h2>"+data.error+"</h2><br><br><br><br><br>");
		}else{
			document.title = data.data.title;
			$("#article").html(data.data.htmlBody);
		}
	});
	</script>
</body>
</html>